<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear una nueva nota</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Editar Nota</h1>
    <form method="POST">
      <label for="title">Título</label>
      <input type="text" name="title" id="title" value="{{ note.title }}">
      <br>
      <label for="content">Contenido</label>
      <input type="text" name="content" id="content" value="{{ note.content }}">

      <input type="submit" name="" value="Actualizar nota">
    </form>
  </body>
</html>
