{% extends "base.html" %}

{% block content %}


    <h1>Notas:</h1>
    <ul>
      {% for note in notes%}
      <li>{{ note.title }}
          <br>
          {{ note.content }}
          <br>
          <a href="{{ url_for('notes.edit_note', id=note.id) }}">Editar</a>
          <form action="{{ url_for("notes.delete_note", id=note.id) }}" method="post">
            <button type="submit">Eliminar</button>
          </form>
      </li>
      {% else %}
      Aun no se han creado notas!
      {% endfor %}
    </ul>

    <a href="{{ url_for('notes.create_note') }}">Agregar una nueva nota</a>

{% endblock content %}
